<h1><center>Tarea 1: Esquemas de Decodificacion Instantanea - INFO145</center></h1>

# 1. Importacion de T[1..N] y Librerias

In [1]:
#importacion libreria

%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

display("Versión de pandas "+pd.__version__)

'Versión de pandas 1.0.5'

In [2]:
# importacion T[1..N] de dna.1MB
file = open('dna.1MB','r')
data_dna=file.readlines() 
file.close()

In [3]:
# Importacion T[1..N] de english.1MB
file = open('english.1MB','r')
data_english=file.readlines() 
file.close()

# 2. Obtencion del alfabeto del texto

In [4]:
def no_esta(array,b):
    verificador = True
    for i in range(len(array)):
        if array[i] == b :
            verificador = False
    return verificador

In [5]:
alfabeto_dna = [data_dna[0][0]]
for i in range(len(data_dna)):
    for j in range(len(data_dna[i])):
        if no_esta(alfabeto_dna,data_dna[i][j]):
            alfabeto_dna +=  data_dna[i][j]

alfabeto_english = [data_english[0][0]]
for i in range(len(data_english)):
    for j in range(len(data_english[i])):
        if no_esta(alfabeto_english,data_english[i][j]):
            alfabeto_english +=  data_english[i][j]

In [6]:
print(alfabeto_dna)

['G', 'A', 'T', 'C', '\n', 'N']

In [7]:
print(alfabeto_english)

['\n', 'T', 'h', 'i', 's', ' ', 'e', 't', 'x', 'w', 'a', 'p', 'r', 'o', 'd', 'u', 'c', 'b', 'y', 'N', 'm', 'l', 'W', '.', 'n', 'D', 'S', 'k', 'J', 'R', '[', "'", ':', 'I', 'O', '8', '9', '1', '-', 'L', '(', ')', 'f', ',', 'A', 'g', 'v', '"', '_', '7', '0', '2', 'G', 'F', '/', '3', '4', '6', '5', 'E', 'M', 'B', 'P', 'H', 'U', ']', 'C', 'V', 'q', '’', 'X', '—', 'z', '“', '”', ';', '?', 'K', '…', 'j', 'é', 'Y', 'Z', '!', 'Q', '%', '*', 'æ', 'ü', 'ç', '|', '&', '#', 'è', 'ë', '+', '–', '‘', 'ô', '{', '}', '$', 'É', '>', '\t', 'ö']

# 3. Obtencion de las probabilidades de aparicion del alfabeto en el texto

* ## Para el texto DNA

In [8]:
#numero total de simbolos de digitos del texto DNA
simbolos_totales = 0
for i in range(len(data_dna)):
    for j in range(len(data_dna[i])):
        simbolos_totales += 1

In [9]:
#funcion para retornar la probabilidad de aparicion del digito en el texto DNA
def probabilidad(simbolo,simbolo_totales):
    contador = 0
    for i in range(len(data_dna)):
        contador = contador + data_dna[i].count(simbolo)
    return contador/simbolo_totales

In [10]:
# se crea un arreglo con los digitos y sus probabilidades del texto DNA
probs_dna = []
for i in range(len(alfabeto_dna)):
    probs_dna += [probabilidad(alfabeto_dna[i],simbolos_totales)]
print(probs_dna)

[0.236779, 0.257934, 0.270851, 0.234429, 6e-06, 1e-06]

In [11]:
df_dna = pd.DataFrame({'Simbolo': alfabeto_dna,'Probabilidad': probs_dna})

In [13]:
df_dna

  Simbolo  Probabilidad
0       G      0.236779
1       A      0.257934
2       T      0.270851
3       C      0.234429
4      \n      0.000006
5       N      0.000001

* ## Para el texto ENGLISH

In [14]:
#numero total de simbolos de digitos del texto ENGLISH
simbolos_totales = 0
for i in range(len(data_english)):
    for j in range(len(data_english[i])):
        simbolos_totales += 1

In [15]:
#funcion para retornar la probabilidad de aparicion del digito en el texto ENGLISH
def probabilidad(simbolo,simbolo_totales):
    contador = 0
    for i in range(len(data_english)):
        contador = contador + data_english[i].count(simbolo)
    return contador/simbolo_totales

In [16]:
# se crea un arreglo con los digitos y sus probabilidades del texto ENGLISH
probs_en = []
for i in range(len(alfabeto_english)):
    probs_en += [probabilidad(alfabeto_english[i],simbolos_totales)]
print(probs_en)

[0.02089, 0.003813, 0.042654, 0.050504, 0.047405, 0.161094, 0.097082, 0.070068, 0.000938, 0.014139, 0.05696, 0.013422, 0.046167, 0.061488, 0.030218, 0.019684, 0.017749, 0.009433, 0.012795, 0.001219, 0.017921, 0.030897, 0.001449, 0.011128, 0.05071, 0.00103, 0.002918, 0.006406, 0.000202, 0.002274, 5.3e-05, 0.001434, 0.000349, 0.002407, 0.001266, 0.0001, 0.000149, 0.00054, 0.007968, 0.000904, 0.000316, 0.000316, 0.016471, 0.011918, 0.00259, 0.013795, 0.009334, 0.004132, 0.001957, 0.000167, 0.000255, 0.000251, 0.001272, 0.000794, 3e-06, 0.000173, 0.000142, 0.0001, 0.000167, 0.001287, 0.001414, 0.00131, 0.001913, 0.000874, 0.000386, 5.3e-05, 0.002524, 0.000311, 0.000573, 0.000304, 6.8e-05, 0.000124, 0.000633, 0.000305, 0.000131, 0.000936, 0.000486, 0.000691, 0.000227, 0.000522, 3.5e-05, 0.000349, 9.3e-05, 0.00115, 1.6e-05, 3e-06, 0.000128, 5e-06, 2e-06, 1e-06, 0.000429, 6e-06, 2e-06, 3e-06, 2e-06, 0.000394, 2e-06, 2.5e-05, 1e-06, 2e-06, 2e-06, 1e-06, 1e-06, 2e-06, 0.000286, 8e-06]

In [17]:
df_en= pd.DataFrame({'Simbolo': alfabeto_english,'Probabilidad': probs_en})

In [18]:
df_en

    Simbolo  Probabilidad
0        \n      0.020890
1         T      0.003813
2         h      0.042654
3         i      0.050504
4         s      0.047405
..      ...           ...
101       $      0.000001
102       É      0.000001
103       >      0.000002
104      \t      0.000286
105       ö      0.000008

[106 rows x 2 columns]

# 4. Validacion de las probabilidades

# Para dna

In [19]:
df_dna['Probabilidad'].sum()

0.9999999999999999

Como la probabilidad para dna es cercana a 1 las probabilidades son validas

# Para en

In [20]:
df_en['Probabilidad'].sum()

1.0

Como la sum de las probabilidades es 1 es valida

# 5. Ordenamiento de las probabilidades (Descendente)

In [21]:
#para dna
df_dna.sort_values(by=['Probabilidad'], ascending = False, inplace = True)
df_dna

  Simbolo  Probabilidad
2       T      0.270851
1       A      0.257934
0       G      0.236779
3       C      0.234429
4      \n      0.000006
5       N      0.000001

In [22]:
#para English
df_en.sort_values(by=['Probabilidad'], ascending = False, inplace = True)
df_en

    Simbolo  Probabilidad
5                0.161094
6         e      0.097082
7         t      0.070068
13        o      0.061488
10        a      0.056960
..      ...           ...
88        ü      0.000002
89        ç      0.000001
98        ô      0.000001
101       $      0.000001
102       É      0.000001

[106 rows x 2 columns]

# 6. Implementacion Algoritmo Shannon

# 7. Implementacion Algoritmo Huffman Canonico

# 8. Implementacion Algoritmo Decodificacion Shannon

# 9. Implementacion Algoritmo Decodificacion Huffman Canonico