<h1><center>Tarea 1: Esquemas de Decodificacion Instantanea - INFO145</center></h1>

# 1. Importacion de T[1..N] y Librerias

In [1267]:
#importacion libreria

%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [1268]:
# importacion T[1..N] de dna.1MB
file = open('dna.1MB','r')
data_dna=file.readlines() 
file.close()

In [1269]:
# Importacion T[1..N] de english.1MB
file = open('english.1MB','r')
data_english=file.readlines() 
file.close()

# 2. Obtencion del alfabeto del texto

In [1270]:
def no_esta(array,b):
    verificador = True
    for i in range(len(array)):
        if array[i] == b :
            verificador = False
    return verificador

In [1271]:
alfabeto_dna = [data_dna[0][0]]
for i in range(len(data_dna)):
    for j in range(len(data_dna[i])):
        if no_esta(alfabeto_dna,data_dna[i][j]):
            alfabeto_dna +=  data_dna[i][j]

alfabeto_english = [data_english[0][0]]
for i in range(len(data_english)):
    for j in range(len(data_english[i])):
        if no_esta(alfabeto_english,data_english[i][j]):
            alfabeto_english +=  data_english[i][j]

In [1272]:
print(alfabeto_dna)

['G', 'A', 'T', 'C', '\n', 'N']

In [1273]:
print(alfabeto_english)

['\n', 'T', 'h', 'i', 's', ' ', 'e', 't', 'x', 'w', 'a', 'p', 'r', 'o', 'd', 'u', 'c', 'b', 'y', 'N', 'm', 'l', 'W', '.', 'n', 'D', 'S', 'k', 'J', 'R', '[', "'", ':', 'I', 'O', '8', '9', '1', '-', 'L', '(', ')', 'f', ',', 'A', 'g', 'v', '"', '_', '7', '0', '2', 'G', 'F', '/', '3', '4', '6', '5', 'E', 'M', 'B', 'P', 'H', 'U', ']', 'C', 'V', 'q', '’', 'X', '—', 'z', '“', '”', ';', '?', 'K', '…', 'j', 'é', 'Y', 'Z', '!', 'Q', '%', '*', 'æ', 'ü', 'ç', '|', '&', '#', 'è', 'ë', '+', '–', '‘', 'ô', '{', '}', '$', 'É', '>', '\t', 'ö']

# 3. Obtencion de las probabilidades de aparicion del alfabeto en el texto

* ## Para el texto DNA

In [1274]:
#numero total de simbolos de digitos del texto DNA
simbolos_totales = 0
for i in range(len(data_dna)):
    for j in range(len(data_dna[i])):
        simbolos_totales += 1

In [1275]:
#funcion para retornar la probabilidad de aparicion del digito en el texto DNA
def probabilidad(simbolo,simbolo_totales):
    contador = 0
    for i in range(len(data_dna)):
        contador = contador + data_dna[i].count(simbolo)
    return contador/simbolo_totales

In [1276]:
# se crea un arreglo con los digitos y sus probabilidades del texto DNA
probs_dna = []
for i in range(len(alfabeto_dna)):
    probs_dna += [probabilidad(alfabeto_dna[i],simbolos_totales)]
print(probs_dna)

[0.236779, 0.257934, 0.270851, 0.234429, 6e-06, 1e-06]

In [1277]:
df_dna = pd.DataFrame({'Simbolo': alfabeto_dna,'Probabilidad': probs_dna, 'Code': ''})
df_dna.index = df_dna['Simbolo']
df_dna.drop(['Simbolo'], axis= 1 , inplace= True)

In [1278]:
df_dna

         Probabilidad Code
Simbolo
G            0.236779
A            0.257934
T            0.270851
C            0.234429
\n           0.000006
N            0.000001

* ## Para el texto ENGLISH

In [1279]:
#numero total de simbolos de digitos del texto ENGLISH
simbolos_totales = 0
for i in range(len(data_english)):
    for j in range(len(data_english[i])):
        simbolos_totales += 1

In [1280]:
#funcion para retornar la probabilidad de aparicion del digito en el texto ENGLISH
def probabilidad(simbolo,simbolo_totales):
    contador = 0
    for i in range(len(data_english)):
        contador = contador + data_english[i].count(simbolo)
    return contador/simbolo_totales

In [1281]:
# se crea un arreglo con los digitos y sus probabilidades del texto ENGLISH
probs_en = []
for i in range(len(alfabeto_english)):
    probs_en += [probabilidad(alfabeto_english[i],simbolos_totales)]
print(probs_en)

[0.02089, 0.003813, 0.042654, 0.050504, 0.047405, 0.161094, 0.097082, 0.070068, 0.000938, 0.014139, 0.05696, 0.013422, 0.046167, 0.061488, 0.030218, 0.019684, 0.017749, 0.009433, 0.012795, 0.001219, 0.017921, 0.030897, 0.001449, 0.011128, 0.05071, 0.00103, 0.002918, 0.006406, 0.000202, 0.002274, 5.3e-05, 0.001434, 0.000349, 0.002407, 0.001266, 0.0001, 0.000149, 0.00054, 0.007968, 0.000904, 0.000316, 0.000316, 0.016471, 0.011918, 0.00259, 0.013795, 0.009334, 0.004132, 0.001957, 0.000167, 0.000255, 0.000251, 0.001272, 0.000794, 3e-06, 0.000173, 0.000142, 0.0001, 0.000167, 0.001287, 0.001414, 0.00131, 0.001913, 0.000874, 0.000386, 5.3e-05, 0.002524, 0.000311, 0.000573, 0.000304, 6.8e-05, 0.000124, 0.000633, 0.000305, 0.000131, 0.000936, 0.000486, 0.000691, 0.000227, 0.000522, 3.5e-05, 0.000349, 9.3e-05, 0.00115, 1.6e-05, 3e-06, 0.000128, 5e-06, 2e-06, 1e-06, 0.000429, 6e-06, 2e-06, 3e-06, 2e-06, 0.000394, 2e-06, 2.5e-05, 1e-06, 2e-06, 2e-06, 1e-06, 1e-06, 2e-06, 0.000286, 8e-06]

In [1282]:
df_en= pd.DataFrame({'Simbolo': alfabeto_english,'Probabilidad': probs_en, 'Code': ''})
df_en.index = df_en['Simbolo']
df_en.drop(['Simbolo'], axis= 1 , inplace= True)

In [1283]:
df_en

         Probabilidad Code
Simbolo
\n           0.020890
T            0.003813
h            0.042654
i            0.050504
s            0.047405
...               ...  ...
$            0.000001
É            0.000001
>            0.000002
\t           0.000286
ö            0.000008

[106 rows x 2 columns]

# 4. Validacion de las probabilidades

# Para dna

In [1284]:
df_dna['Probabilidad'].sum()

0.9999999999999999

Como la probabilidad para dna es cercana a 1 las probabilidades son validas

# Para en

In [1285]:
df_en['Probabilidad'].sum()

1.0

Como la sum de las probabilidades es 1 es valida

# 5. Ordenamiento de las probabilidades (Descendente)

In [1286]:
#para dna
df_dna.sort_values(by=['Probabilidad'], ascending = False, inplace = True)
df_dna

         Probabilidad Code
Simbolo
T            0.270851
A            0.257934
G            0.236779
C            0.234429
\n           0.000006
N            0.000001

In [1287]:
#para English
df_en.sort_values(by=['Probabilidad'], ascending = False, inplace = True)
df_en

         Probabilidad Code
Simbolo
             0.161094
e            0.097082
t            0.070068
o            0.061488
a            0.056960
...               ...  ...
ü            0.000002
ç            0.000001
ô            0.000001
$            0.000001
É            0.000001

[106 rows x 2 columns]

# 6. Implementacion Algoritmo Shannon

Los pasos para desarrollar este algoritmo son los siguientes: 
* **(1) Para una secuencia de símbolos, se calcula la correspondiente lista de frecuencias de aparición de los símbolos**
* **(2) Se ordena la lista de símbolos según su frecuencia en orden decreciente**
* **(3) Se divide la lista en dos partes, de forma que la suma total de frecuencias de las 2 mitades sean lo más cercana posible**
* **(4)  A la mitad superior de la lista se le asigna el dígito binario 1, y a la mitad inferior se le asigna el dígito binario 0. Esto significa que los códigos de los símbolos en la primera mitad empezarán todos con 1 y los códigos en la segunda mitad empezarán todos con 0**
* **(5) Recursivamente se aplica el mismo procedimiento a cada una de las dos mitades, se subdivide en grupos y se agregan bits a las códigos hasta que cada grupo conste de un único símbolo**

de lo anterior cumplimos el paso 1 y 2 que se hizo anteriormente ahora nos queda seguir con el 3, 4 y 5

In [1288]:
def get_indice(x):
    c= 0
    q= len(x)-1
    a = x.Probabilidad[c]
    b = x.Probabilidad[q]
    while (c+1) != q and c!=q:
        if b<=a:
            b += x.Probabilidad[(q-1)]
            q -= 1
        if a<b :
            a += x.Probabilidad[(c+1)]
            c+= 1
    if c== q :
        c -= 1
    return c,q

In [1289]:
def div_list(x):
        fin_lista_1 = get_indice(x)[0]
        comienzo_lista_2 = get_indice(x)[1]
        div_1 = x[0:fin_lista_1+1]
        div_2 = x[comienzo_lista_2:]
        return div_1, div_2

In [1290]:
def code(x):
    if len(x)>=2:
        table_1 = div_list(x)[0]
        table_2 = div_list(x)[1]
        table_1.Code += '1'
        code(table_1)
        table_2.Code +='0'
        code(table_2)
        return x

In [1296]:
df_dna.Code = ''
code(df_dna)

C:\Users\Spun\miniconda3\envs\jupyter\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

         Probabilidad  Code
Simbolo
T            0.270851    11
A            0.257934    10
G            0.236779    01
C            0.234429   001
\n           0.000006  0001
N            0.000001  0000

In [1297]:
df_en.Code = ''
code(df_en)

C:\Users\Spun\miniconda3\envs\jupyter\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

         Probabilidad                  Code
Simbolo
             0.161094                   111
e            0.097082                   110
t            0.070068                  1011
o            0.061488                  1010
a            0.056960                  1001
...               ...                   ...
ü            0.000002   0000000000000000011
ç            0.000001   0000000000000000010
ô            0.000001   0000000000000000001
$            0.000001  00000000000000000001
É            0.000001  00000000000000000000

[106 rows x 2 columns]

Agregar Codificacion a nuestra tabla

# 8. Implementacion Algoritmo Decodificacion Shannon

# 7. Implementacion Algoritmo Huffman Canonico

# 9. Implementacion Algoritmo Decodificacion Huffman Canonico